CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_F_FS=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_USB_MUSB_SUNXI=y
CONFIG_USB_MUSB_GADGET=y
# Disable USB ethernet gadget because it conflicts with ADB
CONFIG_USB_G_NCM=n
CONFIG_USB_ETH=n
